#nav {
    background-color: #008275;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}
#content{
    padding:24px;
   
}
#mainname{
    margin: 0;
}
body{
    margin: 0;
}
a {
    
    text-decoration: none;
}